<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ThuTien.Properties.Settings.HOADON_TAConnectionString"
      connectionString="Data Source=192.168.90.9;Initial Catalog=HOADON_TT;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="ThuTien.Properties.Settings.KTKS_DonKHConnectionString"
      connectionString="Data Source=192.168.90.9;Initial Catalog=KTKS_DonKH;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="ThuTien.Properties.Settings.CAPNUOCTANHOAConnectionString"
      connectionString="Data Source=192.168.90.8\KD;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
