<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThuTien.Properties.Settings.ThuTienConnectionString"
            connectionString="Data Source=SERVERG8-02\SERVER2008R2;Initial Catalog=ThuTien;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
