<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ThuTien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="ThuTien.Properties.Settings.HOADON_TAConnectionString"
      connectionString="Data Source=113.161.88.180,1933;Initial Catalog=HOADON_TA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="ThuTien.Properties.Settings.CAPNUOCTANHOAConnectionString"
      connectionString="Data Source=113.161.88.180,1933;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="ThuTien.Properties.Settings.DocSoTHConnectionString"
      connectionString="Data Source=113.161.88.180,1933;Initial Catalog=DocSoTH;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="ThuTien.Properties.Settings.KTKS_DonKHConnectionString"
      connectionString="Data Source=113.161.88.180,1933;Initial Catalog=KTKS_DonKH;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ThuTien.Properties.Settings>
      <setting name="ThuTien_wsThuTien_wsThuTien" serializeAs="String">
        <value>http://113.161.88.180:81/wsthutien.asmx</value>
      </setting>
      <setting name="ThuTien_wrThuongVu_wsThuongVu" serializeAs="String">
        <value>http://113.161.88.180:81/wsthuongvu.asmx</value>
      </setting>
    </ThuTien.Properties.Settings>
  </applicationSettings>
</configuration>
