USE [HOADON_TA]
GO
/****** Object:  StoredProcedure [dbo].[TH_DMA]    Script Date: 28/10/2020 9:34:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[TH_DMA]
(@KY int,
 @NAM int,
 @MaDMA NVARCHAR(50))
AS
BEGIN
	  --UPDATE HOADON SET CoDH=DLKH_HUY.CODH,MaDMA=DLKH_HUY.MADMA,HIEULUC=DLKH_HUY.HIEULUCHUY,NAMLD=YEAR(DLKH_HUY.NGAYTHAY),HIEUDH=DLKH_HUY.HIEUDH FROM DLKH_HUY WHERE DLKH_HUY.MADMA=@MaDMA AND HOADON.DANHBA=DLKH_HUY.DANHBO AND HOADON.KY=@KY and HOADON.NAM=@NAM
      --UPDATE HOADON SET CoDH=DLKH.CODH,MaDMA=DLKH.MADMA,HIEULUC=(CONVERT(VARCHAR,DLKH.KY)+'/'+CONVERT(VARCHAR,DLKH.NAM)),NAMLD=YEAR(DLKH.NGAYTHAY),HIEUDH=DLKH.HIEUDH FROM DLKH WHERE DLKH.MADMA=@MaDMA AND HOADON.DANHBA=DLKH.DANHBO AND HOADON.KY=@KY and HOADON.NAM=@NAM
	  UPDATE HOADON SET CoDH=(CASE WHEN T2.DANHBO IS NOT NULL THEN T2.CODH ELSE T3.CODH END)
	                   ,MaDMA=(CASE WHEN T2.DANHBO IS NOT NULL THEN T2.MADMA  ELSE T3.MADMA END)
					   ,HIEULUC=(CASE WHEN T2.DANHBO IS NOT NULL THEN (CONVERT(VARCHAR,T2.KY)+'/'+CONVERT(VARCHAR,T2.NAM)) ELSE T3.HIEULUCHUY END)
					   ,NAMLD=YEAR(CASE WHEN T2.DANHBO IS NOT NULL THEN T2.NGAYTHAY  ELSE T3.NGAYTHAY END)
					   ,HIEUDH=(CASE WHEN T2.DANHBO IS NOT NULL THEN T2.HIEUDH  ELSE T3.HIEUDH END)
	  FROM HOADON T1 LEFT JOIN DLKH T2 ON T1.DANHBA=T2.DANHBO LEFT JOIN DLKH_HUY T3 ON T1.DANHBA = T3.DANHBO
	  WHERE (CASE WHEN T2.DANHBO IS NOT NULL THEN T2.MADMA  ELSE T3.MADMA END)=@MaDMA AND T1.KY=@KY AND T1.NAM=@NAM
END
