<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KTKS_DonKH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="KTKS_DonKH.Properties.Settings.TANHOA_WATERConnectionString"
      connectionString="Data Source=server9;Initial Catalog=TANHOA_WATER;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="KTKS_DonKH.Properties.Settings.KTKS_DonKHConnectionString"
      connectionString="Data Source=server9;Initial Catalog=KTKS_DonKH;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="KTKS_DonKH.Properties.Settings.HOADON_TAConnectionString"
      connectionString="Data Source=server9;Initial Catalog=HOADON_TA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="KTKS_DonKH.Properties.Settings.CAPNUOCTANHOAConnectionString"
      connectionString="Data Source=server9;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="KTKS_DonKH.Properties.Settings.TRUNGTAMKHACHHANGConnectionString"
      connectionString="Data Source=server9;Initial Catalog=TRUNGTAMKHACHHANG;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="KTKS_DonKH.Properties.Settings.DocSoTHConnectionString"
      connectionString="Data Source=server9;Initial Catalog=DocSoTH;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <applicationSettings>
    <KTKS_DonKH.Properties.Settings>
      <setting name="KTKS_DonKH_wsThuongVu_wsThuongVu" serializeAs="String">
        <value>http://server5:81/wsthuongvu.asmx</value>
      </setting>
      <setting name="KTKS_DonKH_wrDHN_wsDHN" serializeAs="String">
        <value>http://server5:81/wsDHN.asmx</value>
      </setting>
      <setting name="KTKS_DonKH_wrEContract_wsEContract" serializeAs="String">
        <value>http://server5:81/wsEContract.asmx</value>
      </setting>
    </KTKS_DonKH.Properties.Settings>
  </applicationSettings>
</configuration>
