<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GIAYKHEN.Properties.Settings.HOADON_TAConnectionString"
            connectionString="Data Source=SERVER9;Initial Catalog=HOADON_TA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>