@model DangBoWeb.Models.Nhom
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Nhom", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Thêm Nhóm</h6>
            <a href="@Url.Action("Index", "Nhom")" class="btn btn-danger">
                Hủy
            </a>
        </div>

        <div class="card-body">
            <div class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="TenNhom" name="TenNhom" placeholder="@Html.DisplayNameFor(model=>model.TenNhom)">
                    <span>@Html.ValidationMessageFor(model => model.TenNhom, "", new { @class = "text-danger" })</span>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

