select * from CTChungTu where MaCT='31100097518'
select * from LichSuChungTu where MaCT='31100097518'
--delete LichSuChungTu where MaLSCT=280414
--delete ChungTu where MaCT='31100097512'
select * from CTChungTu where DanhBo!='13081511980'

--Đổi Số Chứng Từ
--update CTChungTu set MaCT='31100097518' where DanhBo='13081511980' and MaCT='31120015333'
--update ChungTu set MaCT='31100097518' where MaCT='3110097518'
--update LichSuChungTu set MaCT='31100097518' where MaLSCT=298714