USE [HOADON_TA]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateHoaDonFromDHN]    Script Date: 28/10/2020 9:33:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[spUpdateHoaDonFromDHN]
(@DOT int,
 @KY int,
 @NAM int)
AS
BEGIN
	  UPDATE HOADON SET CoDH=DLKH_HUY.CODH,MaDMA=DLKH_HUY.MADMA,HIEULUC=DLKH_HUY.HIEULUCHUY,NAMLD=YEAR(DLKH_HUY.NGAYTHAY),HIEUDH=LEFT(REPLACE(DLKH_HUY.HIEUDH,' ',''),3) FROM DLKH_HUY WHERE HOADON.CoDH is null and HOADON.DANHBA=DLKH_HUY.DANHBO AND HOADON.DOT=@DOT AND HOADON.KY=@KY and HOADON.NAM=@NAM;
	  UPDATE HOADON SET CoDH=DLKH.CODH,MaDMA=DLKH.MADMA,HIEULUC=(CONVERT(VARCHAR,DLKH.KY)+'/'+CONVERT(VARCHAR,DLKH.NAM)),NAMLD=YEAR(DLKH.NGAYTHAY),HIEUDH= LEFT(REPLACE(DLKH.HIEUDH,' ',''),3) FROM DLKH WHERE HOADON.CoDH is null and HOADON.DANHBA=DLKH.DANHBO AND HOADON.DOT=@DOT AND HOADON.KY=@KY and HOADON.NAM=@NAM;
	  select 1;
END

select DOT,Ky,Nam from hoadon where CoDH is null