<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="QuaySoMayMan_PC.Properties.Settings.quaysomaymanConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\quaysomayman.accdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
    <add name="QuaySoMayMan_PC.Properties.Settings.quaysomaymanConnectionString1"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\quaysomayman.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
