--- THONG KE DHN THONG MINH DA LAP DAT

SELECT  DHN_DANHBO,DIACHI,REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN AS HG,HCT_SOTHANGAN AS STGAN, HCT_CHISOGAN AS CSGa, HCT_CODHNGAN AS COGAN, 
CAST(HCT_NGAYGAN as date) AS NGAYGAN  ,CAST(HCT_NGAYKIEMDINH as date) AS KD,  
[DHN_SOTHAN] AS SOTHAN,HCT_SOTHANGO AS THANGO, [DHN_CHISO] AS CSB,HCT_CHISOGO AS CSG, HCT_CHISOGO-DHN_CHISO AS SS,[HCT_CREATEBY], [HCT_MODIFYBY]
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL -- and HCT_HIEUDHNGAN='RYNAN'
AND HCT_HIEUDHNGAN IS NOT NULL --and HCT_HIEUDHNGAN !='KENT-S'
--AND LEFT(DHN_SOBANGKE,2) =23
--AND YEAR(HCT_NGAYGAN )>= 2023
ORDER BY HCT_NGAYGAN DESC, HCT_HIEUDHNGAN ASC






SELECT REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_NGAYGAN,HCT_HIEUDHNGAN, count(*) AS SOLUONG
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL -- and REPLACE(DHN_TODS,'DHTM-','TH-')='TH-08-11'
AND HCT_HIEUDHNGAN IS NOT NULL
AND LEFT(DHN_SOBANGKE,2) =23
AND YEAR(HCT_NGAYGAN )>= 2023
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_NGAYGAN,HCT_HIEUDHNGAN
ORDER BY HCT_NGAYGAN DESC

select LEFT(LOTRINH,2),COUNT(*)
from TB_DULIEUKHACHHANG where HIEUDH='SENSUS'
group by LEFT(LOTRINH,2)
order by LEFT(LOTRINH,2) asc

	SELECT LEFT(LOTRINH,2),COUNT(*)
	FROM TB_DULIEUKHACHHANG kh
	WHERE MADMA='TH-11-08'
	group by LEFT(LOTRINH,2)

---- TONG HOP GAN
--- THEO MDA
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,COUNT(CASE WHEN HCT_NGAYGAN IS NOT NULL THEN 1 END) AS DATHAY, 
COUNT(*) as SOLUONG, COUNT(*) - COUNT(CASE WHEN HCT_NGAYGAN IS NOT NULL THEN 1 END) AS CONLAI
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' --AND   REPLACE(DHN_TODS,'DHTM-','TH-') IN  ('TH-08-09','TH-08-10','TH-11-08') 
--AND HCT_NGAYGAN < '2022-11-01'
AND LEFT(DHN_SOBANGKE,2)=23
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-')
ORDER BY MADMA

------- XUAT FILE
--select serialnumber= CASE WHEN ttkh.HIEUDH='EMS' THEN ISNULL((select Serial_number from [sDHN].[dbo].[DHN_PHAMLAM] where DANHBO=dhn.DanhBo),0) ELSE ttkh.SOTHANDH END ,
select serialnumber= STGAN,
IDLogger=ISNULL((select IDLogger from [sDHN].[dbo].[sDHN] where DanhBo=dhn.DanhBo),0),
IDLogger=ISNULL((select IDLogger from [sDHN].[dbo].[sDHN] where DanhBo=dhn.DanhBo),0), 
sim='',
dhn.DanhBo,dot_ds=SUBSTRING(ttkh.LOTRINH,1,2),so_ds=SUBSTRING(ttkh.LOTRINH,3,2),MLT=ttkh.LOTRINH
,ttkh.HOTEN,ttkh.SONHA,ttkh.TENDUONG,phuong=(select tenphuong from CAPNUOCTANHOA.dbo.PHUONG where MAPHUONG=ttkh.PHUONG and MAQUAN=ttkh.QUAN)
,quan=(select tenquan from CAPNUOCTANHOA.dbo.QUAN where MAQUAN=ttkh.QUAN)
,DIENTHOAI=(select top 1 DienThoai from CAPNUOCTANHOA.dbo.SDT_DHN where DanhBo=ttkh.DANHBO order by CreateDate desc)
,ttkh.NGAYTHAY,ttkh.HIEUDH,ttkh.CODH,ttkh.SOTHANDH,vitri=ttkh.VITRIDHN,chisobao='',loaibaothay='',goclapdat=case when ttkh.ViTriDHN_Hop=1 then N'Hộp' else '' end
,tt.tgbh_pin,tt.loai_pin,tt.so_phe_duyet,tt.cty_phe_duyet,tt.chong_nuoc,tt.cong_nghe,tt.ket_noi,hieuluc=1
,tt.chu_ky_phat_song,tt.so_lan_gui_lai,ttkh.MADMA,tt.id_cty,tt.id_donvi,gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO),gps_lontitude='',hl=1
from (SELECT DanhBo=DHN_DANHBO,DIACHI,REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN AS HG,HCT_SOTHANGAN AS STGAN, HCT_CHISOGAN AS CSGa, HCT_CODHNGAN AS COGAN, 
CAST(HCT_NGAYGAN as date) AS NGAYGAN  ,CAST(HCT_NGAYKIEMDINH as date) AS KD,  DHN_SOBANGKE,
[DHN_SOTHAN] AS SOTHAN,HCT_SOTHANGO AS THANGO, [DHN_CHISO] AS CSB,HCT_CHISOGO AS CSG, HCT_CHISOGO-DHN_CHISO AS SS,[HCT_CREATEBY], [HCT_MODIFYBY]
FROM CAPNUOCTANHOA.dbo.TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL -- and HCT_HIEUDHNGAN='RYNAN'
) dhn,CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG ttkh,[sDHN].[dbo].[DHTM_THONGTIN] tt
where dhn.DanhBo=ttkh.DANHBO and dhn.HG=tt.HIEU_DHTM
AND LEFT(DHN_SOBANGKE,2) =23
AND YEAR(NGAYGAN )>= 2023
--AND NGAYTHAY >='2023-05-31 00:00:00.000'
--AND HIEUDH='DIEHL'
 AND HIEUDH !='KENT-S'
--AND HIEUDH='SENSUS'
order by dhn.NGAYGAN asc



--DANH SACH CHUA LEN HE THONG
SELECT ttkh.*, DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN
 , gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DHN_DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DHN_DANHBO)
FROM TB_THAYDHN  ttkh, TB_DULIEUKHACHHANG kh
WHERE kh.DANHBO= ttkh.DHN_DANHBO AND DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NULL 
AND (YEAR(GETDATE()) -  YEAR(kh.NGAYKIEMDINH))>5
-- AND DHN_DANHBO NOT IN ( SELECT  DanhBo from [sDHN].[dbo].[sDHN] where valid=1)
--     AND HCT_HIEUDHNGAN='SENSUS' -- AND REPLACE(DHN_TODS,'DHTM-','TH-') ='TH-08-11' --AND HCT_HIEUDHNGAN=''
--   AND HCT_HIEUDHNGAN='EMS'
--  AND HCT_HIEUDHNGAN='DIEHL'
--   AND HCT_HIEUDHNGAN='B-METERS'
--ORDER BY HCT_NGAYGAN ASC
 
-- SELECT ttkh.*, DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN , gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DHN_DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DHN_DANHBO)

SELECT   ttkh.DANHBO,ttkh.SONHA,ttkh.TENDUONG,PHUONG=(select tenphuong from CAPNUOCTANHOA.dbo.PHUONG where MAPHUONG=ttkh.PHUONG and MAQUAN=ttkh.QUAN)
,QUAN=(select tenquan from CAPNUOCTANHOA.dbo.QUAN where MAQUAN=ttkh.QUAN), MADMA
, gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO)
FROM   TB_DULIEUKHACHHANG ttkh
WHERE ttkh.MADMA IN ('TH-02-04','TH-02-05','TH-08-09','TH-08-10','TH-08-11','TH-08-12','TH-10-05','TH-11-01','TH-11-08')
order by MADMA DESC


 
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*) as SOLUONG
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
AND DHN_DANHBO NOT IN ( SELECT  DanhBo from [sDHN].[dbo].[sDHN] where valid=1)
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY HCT_HIEUDHNGAN


--- THEO NGAY

SELECT  HCT_NGAYGAN,REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,COUNT(*) AS SOLUONG
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' -- AND   REPLACE(DHN_TODS,'DHTM-','TH-') IN  ('TH-08-09','TH-08-10','TH-11-08') 
AND HCT_NGAYGAN IS NOT NULL
GROUP BY HCT_NGAYGAN,REPLACE(DHN_TODS,'DHTM-','TH-')  ORDER BY HCT_NGAYGAN DESC

------ DANH SACH KHÁCH HÀNG CHƯA GẮN
select DANHBO,HOTEN,SONHA,TENDUONG,MADMA, HIEUDH,
DIENTHOAI=(select top 1 DienThoai from CAPNUOCTANHOA.dbo.SDT_DHN where DanhBo=ttkh.DANHBO order by CreateDate desc), 
CODEDS=(select CodeMoi from DocSoTH.dbo.DocSo where DanhBo=ttkh.DANHBO and Ky='8' and Nam=2022  )
FROM TB_DULIEUKHACHHANG ttkh 
where CODH='15' and MADMA='TH-11-01' and HIEUDH <> 'DIEHL'
order by LOTRINH asc


-----HIEU DH---
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN,COUNT(*)
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY REPLACE(DHN_TODS,'DHTM-','TH-') ASC


----- DAN VI---

SELECT ROW_NUMBER() OVER (ORDER BY HCT_NGAYGAN  ASC) [STT],  DHN_DANHBO,TENKH, DIACHI,  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,
DHN_HIEUDHN,DHN_CAP ,HCT_SOTHANGO,HCT_CHISOGO, HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_NGAYGAN --,  CASE WHEN HCT_NGAYGAN<='2022-05-16' THEN 'DAN VI' ELSE 'HIEP' END
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
--AND HCT_NGAYGAN >  '2022-10-31' --and HCT_NGAYGAN < '2022-10-11' 
 AND DHN_DANHBO IN (SELECT DANHBO FROM sDHN.dbo.DHTM_NGHIEMTHU_TD sdhn )
--AND HCT_HIEUDHNGAN='EMS'
 ORDER BY HCT_NGAYGAN ASC




 ------------

select * From TB_DULIEUKHACHHANG where DANHBO IN ('13132116235')

SELECT kh.LOTRINH ,kh.HOPDONG,kh.LOTRINH,kh.HOTEN,kh.SONHA,kh.TENDUONG,kh.MADMA
	FROM TB_DULIEUKHACHHANG kh
	WHERE LEFT(LOTRINH,4)='0316'
	order by kh.LOTRINH asc

UPDATE TB_DULIEUKHACHHANG SET MADMA='TH-07-04' where DANHBO IN ('13182551970')

select MADMA,LEFT(LOTRINH,2) as DOT,count(*) SL FROM TB_DULIEUKHACHHANG -- where LEFT(LOTRINH,4)='0133'
group by MADMA,LEFT(LOTRINH,2) 
order by MADMA asc

SELECT kh.LOTRINH ,kh.HOPDONG,kh.LOTRINH,kh.HOTEN,kh.SONHA,kh.TENDUONG
	FROM TB_DULIEUKHACHHANG kh
	WHERE MADMA='TH-08-09'
	order by kh.LOTRINH asc

-----------CHECK-------

SELECT DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM'  AND HCT_NGAYGAN IS NOT NULL -- AND HCT_NGAYGAN >= '2022-10-31'-- and HCT_NGAYGAN <= '2022-10-12' 
--  AND HCT_HIEUDHNGAN='SENSUS' 
  AND HCT_HIEUDHNGAN='EMS'
-- AND HCT_HIEUDHNGAN='DIEHL'
--AND HCT_HIEUDHNGAN='B-METERS'
AND DHN_DANHBO  IN ( select sdhn.DANHBO from sDHN.dbo.DHTM_NGHIEMTHU sdhn)
ORDER BY MADMA ASC,HCT_NGAYGAN desc


---- CHƯA NGHIỆM THU-----

SELECT ROW_NUMBER() OVER (ORDER BY HCT_NGAYGAN  ASC) [STT],  DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN
  FROM CAPNUOCTANHOA.dbo.TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL --  AND HCT_HIEUDHNGAN='B-METERS' 
	AND DHN_DANHBO NOT IN (SELECT DANHBO FROM [sDHN].[dbo].[DHTM_NGHIEMTHU] )



-- BÁO CÁO HOẠT ĐỘNG
-- THONG KE CỞ
declare @madhn varchar(10)
set @madhn='TH-11-08'
SELECT COUNT(*)  FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG WHERE MADMA=@madhn
SELECT HIEUDH,COUNT(*)  FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG WHERE MADMA=@madhn GROUP BY HIEUDH
SELECT MADMA,  	COUNT(CASE WHEN CODH=15 THEN 1 ELSE NULL END) AS CO15,	COUNT(CASE WHEN CODH=20 THEN 1 ELSE NULL END) AS CO20,	COUNT(CASE WHEN CODH=25 THEN 1 ELSE NULL END) AS CO25,
	COUNT(CASE WHEN CODH=40 THEN 1 ELSE NULL END) AS CO40, 	COUNT(CASE WHEN CODH=50 THEN 1 ELSE NULL END) AS CO50, 	COUNT(CASE WHEN (CODH=75 OR  CODH= 80) THEN 1 ELSE NULL END) AS CO80,
	COUNT(CASE WHEN CODH=100 THEN 1 ELSE NULL END) AS CO100,	COUNT(CASE WHEN CODH=150 THEN 1 ELSE NULL END) AS CO150,	COUNT(CASE WHEN CODH=200 THEN 1 ELSE NULL END) AS CO200
FROM dbo.TB_DULIEUKHACHHANG kh 	WHERE MADMA=@madhn 	GROUP BY MADMA


-- check danh sách KHÔNG CÓ
declare @madhn2 varchar(10)
set @madhn2='DHTM-08-10'
-- SELECT *  FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG WHERE MADMA=REPLACE(@madhn2,'DHTM-','TH-') AND DANHBO NOT IN (SELECT DHN_DANHBO FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND DHN_TODS=@madhn2)

SELECT ROW_NUMBER() OVER (ORDER BY HCT_NGAYGAN  ASC) [STT],  DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND DHN_TODS=@madhn2 AND HCT_NGAYGAN IS NULL  
ORDER BY HCT_NGAYGAN ASC

SELECT COUNT(*) FROM [sDHN].[dbo].[DHTM_NGHIEMTHU]



SELECT  *
  FROM [sDHN].[dbo].[sDHN] where Valid=1 and 
  DanhBo in ( SELECT  DHN_DANHBO FROM CAPNUOCTANHOA.dbo.TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL and HCT_HIEUDHNGAN='SENSUS')

  


update [sDHN].[dbo].[sDHN] set IDLogger=NULL where IDLogger='#N/A'

SELECT  COUNT(*) as SOLUONG, COUNT (CASE WHEN IDLogger IS NOT NULL THEN 1 END) AS DACO, COUNT(*) - COUNT(CASE WHEN IDLogger IS NOT NULL THEN 1 END) AS CHUACO
  FROM [sDHN].[dbo].[sDHN] where Valid=1 and 
  DanhBo in ( SELECT  DHN_DANHBO FROM CAPNUOCTANHOA.dbo.TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' 
  AND HCT_NGAYGAN IS NOT NULL  
--AND HCT_HIEUDHNGAN='SENSUS'
--AND HCT_HIEUDHNGAN='EMS'
-- AND HCT_HIEUDHNGAN='DIEHL'
--AND HCT_HIEUDHNGAN='B-METERS'
  )


  SELECT  *
  FROM [sDHN].[dbo].[sDHN] where Valid=1 and 
  DanhBo in ( SELECT  DHN_DANHBO FROM CAPNUOCTANHOA.dbo.TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' 
  AND HCT_NGAYGAN IS NOT NULL  
  --AND HCT_HIEUDHNGAN='SENSUS'
 AND HCT_HIEUDHNGAN='EMS'
-- AND HCT_HIEUDHNGAN='DIEHL'
--AND HCT_HIEUDHNGAN='B-METERS'
  )


  SELECT MADMA,COUNT(*)
  FROM TB_DULIEUKHACHHANG kh--, [0_AMSAU] am
  --where kh.DANHBO=am.DANHBO
  group by MADMA
  order by MADMA asc
 
 --- SỐ LIỆU THỐNG KÊ

 SELECT LEFT(MADMA,8), COUNT(*) FROM TB_DULIEUKHACHHANG
WHERE ViTriDHN_Hop=1
group by LEFT(MADMA,8)
 order by LEFT(MADMA,8) asc


 --- NGHIEM THU

  select  COUNT(*) 
 from sDHN.dbo.DHTM_NGHIEMTHU

 select CAST( LEFT(DOTNT, LEN(DOTNT)-2) as int), COUNT(*) 
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_DULIEUKHACHHANG ttkh
 where sdhn.DANHBO=ttkh.DANHBO
 group by ( LEFT(DOTNT, LEN(DOTNT)-2))
 order by CAST( LEFT(DOTNT, LEN(DOTNT)-2) as int) asc


  select REPLACE(ttkh.DHN_TODS,'DHTM','TH'), COUNT(*) 
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_THAYDHN ttkh
 where sdhn.DANHBO=ttkh.DHN_DANHBO and  DHN_LOAIBANGKE='DHTM'
 group by REPLACE(ttkh.DHN_TODS,'DHTM','TH')
 order by REPLACE(ttkh.DHN_TODS,'DHTM','TH') asc


   select REPLACE(ttkh.DHN_TODS,'DHTM','TH'),ttkh.HCT_HIEUDHNGAN, sdhn.DOTNT, COUNT(*) 
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_THAYDHN ttkh
 where sdhn.DANHBO=ttkh.DHN_DANHBO and  DHN_LOAIBANGKE='DHTM'
 group by REPLACE(ttkh.DHN_TODS,'DHTM','TH'),ttkh.HCT_HIEUDHNGAN, sdhn.DOTNT
 order by sdhn.DOTNT asc



 --excel
  select ttkh.MADMA, COUNT(*) 
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_DULIEUKHACHHANG ttkh
 where sdhn.DANHBO=ttkh.DANHBO
 group by ttkh.MADMA
  order by ttkh.MADMA ASC


---  DANHBO bị nhằm nghiệm thu '13141978184' 
SELECT * FROM sDHN.dbo.DHTM_NGHIEMTHU  where DANHBO='13122060611'
DELETE FROM sDHN.dbo.DHTM_NGHIEMTHU  where DOTNT='99999'

DELETE FROM sDHN.dbo.DHTM_NGHIEMTHU  where DANHBO IN (SELECT [DANHBO] FROM sDHN.[dbo].[DHTM_NGHIEMTHU_TD])

  select ttkh.MADMA,COUNT(*) 
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_DULIEUKHACHHANG ttkh
 where sdhn.DANHBO=ttkh.DANHBO
 group by ttkh.MADMA
 order by ttkh.MADMA asc




  select *
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_DULIEUKHACHHANG ttkh
 where sdhn.DANHBO=ttkh.DANHBO and HIEUDH='ITRON'
 --group by ttkh.MADMA,ttkh.HIEUDH,sdhn.DOTNT
 order by ttkh.MADMA asc

 select *
 from sDHN.dbo.DHTM_NGHIEMTHU sdhn,TB_DULIEUKHACHHANG ttkh
 where sdhn.DANHBO=ttkh.DANHBO and ttkh.DANHBO in ('13141978184','13141978186')
 order by ttkh.MADMA asc
 
 -- duan

SELECT DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN FROM CAPNUOCTANHOA.dbo.TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM'  AND DHN_DANHBO IN ('13132126970','13132120097')


----- BAO CAO
--- XUAT FILE PHONG CNTT  - TONG CTY
--select (CASE WHEN HIEU_DHTM='RYNAN'THEN IDLogger ELSE ttkh.SOTHANDH END) AS ST  ,IDLogger, IDLogger,sim='',
--dhn.DanhBo,ttkh.dot,so_ds=SUBSTRING(ttkh.LOTRINH,3,2),MLT=ttkh.LOTRINH
--,ttkh.HOTEN,ttkh.SONHA,ttkh.TENDUONG,phuong=(select tenphuong from CAPNUOCTANHOA.dbo.PHUONG where MAPHUONG=ttkh.PHUONG and MAQUAN=ttkh.QUAN)
--,quan=(select tenquan from CAPNUOCTANHOA.dbo.QUAN where MAQUAN=ttkh.QUAN)
--,DIENTHOAI=(select top 1 DienThoai from CAPNUOCTANHOA.dbo.SDT_DHN where DanhBo=ttkh.DANHBO order by CreateDate desc)
--,ttkh.NGAYTHAY,ttkh.HIEUDH,ttkh.CODH,ttkh.SOTHANDH,vitri=ttkh.VITRIDHN,chisobao='',loaibaothay='',goclapdat=case when ttkh.ViTriDHN_Hop=1 then N'Hộp' else '' end
--,tt.tgbh_pin,tt.loai_pin,tt.so_phe_duyet,tt.cty_phe_duyet,tt.chong_nuoc,tt.cong_nghe,tt.ket_noi,hieuluc=1
--,tt.chu_ky_phat_song,tt.so_lan_gui_lai,ttkh.MADMA,tt.id_cty,tt.id_donvi,gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO),gps_lontitude=''
--from sDHN dhn,CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG ttkh,DHTM_THONGTIN tt
--where dhn.DanhBo=ttkh.DANHBO and dhn.IDNCC=tt.ID and ttkh.HIEUDH='B-METERS'
--order by NGAYTHAY asc





-- update rynan
--UPDATE [CAPNUOCTANHOA].dbo.[TB_DULIEUKHACHHANG]
--SET 
--    SOTHANDH=t.idloger    
--FROM [dbo].[tmp] t
--where [CAPNUOCTANHOA].dbo.[TB_DULIEUKHACHHANG].DanhBo = t.danhbo


select * from TB_DULIEUKHACHHANG where HIEUDH='B-METERS' AND  MADMA='TH-02-04'

------ KIEM TRA DU LIEU BAO CAO
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*) as SOLUONG
,TCT=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN)
,TDL=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN
and sdhn.DanhBo not in (select t1.DanhBo from
( select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -1, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -2, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -3, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1)t1
,sDHN.dbo.sDHN_NCC ncc where t1.SoLuong = 0 and t1.IDNCC = ncc.ID group by t1.DanhBo having COUNT(t1.DanhBo) = 3
))
,KTDL=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN
and sdhn.DanhBo in (select t1.DanhBo from
( select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -1, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -2, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -3, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1)t1
,sDHN.dbo.sDHN_NCC ncc where t1.SoLuong = 0 and t1.IDNCC = ncc.ID group by t1.DanhBo having COUNT(t1.DanhBo) = 3
))
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA

 
 SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*) as SOLUONG
,TCT=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN)
,TDL=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN
and sdhn.DanhBo not in (select t1.DanhBo from
( select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -1, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -2, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -3, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1)t1
,sDHN.dbo.sDHN_NCC ncc where t1.SoLuong = 0 and t1.IDNCC = ncc.ID group by t1.DanhBo having COUNT(t1.DanhBo) = 3
))
,KTDL=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN
and sdhn.DanhBo in (select t1.DanhBo from
( select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -1, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -2, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1
union all
select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, -3, GETDATE()) as date)) from sDHN.dbo.sDHN where Valid = 1)t1
,sDHN.dbo.sDHN_NCC ncc where t1.SoLuong = 0 and t1.IDNCC = ncc.ID group by t1.DanhBo having COUNT(t1.DanhBo) = 3
))
,KTDL24=(select COUNT(*) from sDHN.dbo.sDHN sdhn,TB_DULIEUKHACHHANG ttkh, sDHN.dbo.DHTM_THONGTIN tt
where Valid=1 and sdhn.DanhBo=ttkh.DANHBO and sdhn.IDNCC=tt.ID and ttkh.MADMA=REPLACE(DHN_TODS,'DHTM-','TH-') and HIEU_DHTM=HCT_HIEUDHNGAN
and sdhn.DanhBo in (select t1.DanhBo from
( select IDNCC,DanhBo,SoLuong=(select COUNT(*) from sDHN.dbo.sDHN_LichSu where DanhBo=sDHN.DanhBo and CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, 0, '20221007') as date)) from sDHN.dbo.sDHN where Valid = 1
)t1
,sDHN.dbo.sDHN_NCC ncc where t1.SoLuong > 0 and t1.SoLuong<24 and t1.IDNCC = ncc.ID group by t1.DanhBo 
))
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA



--- THEO MDA
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,COUNT(CASE WHEN HCT_NGAYGAN IS NOT NULL THEN 1 END) AS DATHAY, 
COUNT(*) as SOLUONG, COUNT(*) - COUNT(CASE WHEN HCT_NGAYGAN IS NOT NULL THEN 1 END) AS CONLAI
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' --AND   REPLACE(DHN_TODS,'DHTM-','TH-') IN  ('TH-08-09','TH-08-10','TH-11-08') 
--AND HCT_NGAYGAN < '2022-11-01'
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-')
ORDER BY MADMA

SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*)
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA


-------------------- BÁO CÁO LÊN HỆ THỐNG



-- SỐ LƯỢNG ĐHN LẮP ĐẶT
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*)
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA

-- ĐÃ CẬP NHẬT LÊN HỆ THỐNG
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*)
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL
AND DHN_DANHBO  IN ( SELECT  DanhBo from [sDHN].[dbo].[sDHN] where valid=1)
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA

-- CÓ KẾT NỐI DỮ LIỆU

SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*)
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL
AND DHN_DANHBO  IN ( SELECT DanhBo FROM [sDHN].[dbo].[sDHN_LichSu] WHERE CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, 0, '20221221') as date))
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA

-- KHÔNG ĐỦ 24 RECORD


SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*)
FROM TB_THAYDHN t1, (
SELECT DanhBo  FROM [sDHN].[dbo].[sDHN_LichSu] 
WHERE CAST(ThoiGianCapNhat as date)=CAST(DATEADD(day, 0, '20221221') as date)
GROUP BY DanhBo
HAVING COUNT(*)<24 ) t2
WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL
AND t2.DanhBo=t1.DHN_DANHBO
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA

--DANH SACH CHUA LEN HE THONG
SELECT DHN_DANHBO,DIACHI,TENKH, REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_CODHNGAN,HCT_NGAYGAN , gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DHN_DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DHN_DANHBO)
FROM TB_THAYDHN  ttkh
WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
AND DHN_DANHBO NOT IN ( SELECT  DanhBo from [sDHN].[dbo].[sDHN] where valid=1)
--     AND HCT_HIEUDHNGAN='SENSUS' -- AND REPLACE(DHN_TODS,'DHTM-','TH-') ='TH-08-11' --AND HCT_HIEUDHNGAN=''
--  AND HCT_HIEUDHNGAN='EMS'
--  AND HCT_HIEUDHNGAN='DIEHL'
  AND HCT_HIEUDHNGAN='B-METERS'
ORDER BY HCT_NGAYGAN ASC
 
 
SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*) as SOLUONG
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
AND DHN_DANHBO NOT IN ( SELECT  DanhBo from [sDHN].[dbo].[sDHN] where valid=1)
GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY HCT_HIEUDHNGAN


-- CHECK NGÀY LẮP ĐẶT
 SELECT ROW_NUMBER() OVER (ORDER BY HCT_NGAYGAN  ASC) [STT],  DHN_DANHBO,TENKH, DIACHI,  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,
DHN_HIEUDHN,DHN_CAP ,HCT_SOTHANGO,HCT_CHISOGO, HCT_HIEUDHNGAN,HCT_SOTHANGAN,HCT_NGAYGAN --,  CASE WHEN HCT_NGAYGAN<='2022-05-16' THEN 'DAN VI' ELSE 'HIEP' END
FROM TB_THAYDHN WHERE DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL 
    AND HCT_HIEUDHNGAN='SENSUS'  AND REPLACE(DHN_TODS,'DHTM-','TH-')='TH-08-11'
--  AND HCT_HIEUDHNGAN='EMS'  AND REPLACE(DHN_TODS,'DHTM-','TH-')='TH-10-05'
-- AND HCT_HIEUDHNGAN='DIEHL'
--  AND HCT_HIEUDHNGAN='B-METERS' AND REPLACE(DHN_TODS,'DHTM-','TH-')='TH-02-05'
 ORDER BY HCT_NGAYGAN ASC

 --- NGÀY ĐƯA LÊN HỆ THỐNG
  SELECT  REPLACE(DHN_TODS,'DHTM-','TH-') AS MADMA,HCT_HIEUDHNGAN,COUNT(*)
  FROM [sDHN].[dbo].[sDHN] ss, TB_THAYDHN tt 
  WHERE ss.DanhBo=tt.DHN_DANHBO AND  DHN_LOAIBANGKE='DHTM' AND HCT_NGAYGAN IS NOT NULL
  AND MONTH(ss.CreateDate)<=9
  GROUP BY REPLACE(DHN_TODS,'DHTM-','TH-'),HCT_HIEUDHNGAN
ORDER BY MADMA,HCT_HIEUDHNGAN


--SELECT * FROM  TB_DULIEUKHACHHANG WHERE HIEUDH IN ('SENSUS','RYNAN','DIEHL','EMS','B-METERS') AND YEAR(NGAYTHAY)>2018

SELECT HIEUDH,LEN(SOTHANDH),COUNT(*)   FROM TB_DULIEUKHACHHANG WHERE HIEUDH IN ('SENSUS','RYNAN','DIEHL','EMS','B-METERS')
GROUP BY  HIEUDH,LEN(SOTHANDH)
ORDER BY HIEUDH

SELECT DANHBO, DiaChiHoaDon, HIEUDH,SOTHANDH FROM TB_DULIEUKHACHHANG WHERE HIEUDH='SENSUS' AND LEN(SOTHANDH) IN (13,11,8) AND YEAR(NGAYTHAY)>2018

SELECT HIEUDH,YEAR(NGAYKIEMDINH),COUNT(*) FROM TB_DULIEUKHACHHANG  
WHERE HIEUDH IN ('SENSUS','RYNAN','DIEHL','EMS','B-METERS')
GROUP BY  HIEUDH,YEAR(NGAYKIEMDINH)
ORDER BY HIEUDH



SELECT DANHBO, DiaChiHoaDon, HIEUDH,SOTHANDH,NGAYKIEMDINH
 FROM TB_DULIEUKHACHHANG
 WHERE HIEUDH='EMS' AND YEAR(NGAYKIEMDINH)=2022


 SELECT DANHBO, DiaChiHoaDon, HIEUDH,SOTHANDH,NGAYKIEMDINH
 FROM TB_DULIEUKHACHHANG
 WHERE SOTHANDH LIKE '%21223%5'
 AND HIEUDH='DIEHL' 
 
 Select SOTHANDH,DANHBO
 from TB_DULIEUKHACHHANG 
 where DANHBO='13141974490'

  Select HCT_SOTHANGAN,DHN_DANHBO
 from TB_THAYDHN 
 where DHN_DANHBO='13141974490'
 
 
 select sh.DanhBo,REPLACE(kh.SOTHANDH,'A','') as SOTHAN from [sDHN].[dbo].[test] sh, TB_DULIEUKHACHHANG kh where sh.DanhBo= kh.DANHBO 
 
 delete  from [sDHN].[dbo].[test] 

 SELECT   ttkh.DANHBO,ttkh.SONHA,ttkh.TENDUONG,PHUONG=(select tenphuong from CAPNUOCTANHOA.dbo.PHUONG where MAPHUONG=ttkh.PHUONG and MAQUAN=ttkh.QUAN)
,QUAN=(select tenquan from CAPNUOCTANHOA.dbo.QUAN where MAQUAN=ttkh.QUAN), MADMA
, gps_latitude=(select top 1 gps_latitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO),gps_lontitude=(select top 1 gps_lontitude from CAPNUOCTANHOA.dbo.DanhBoGPS where DanhBo=ttkh.DANHBO)
from [sDHN].[dbo].[test] sh, TB_DULIEUKHACHHANG ttkh
 where sh.DanhBo= ttkh.DANHBO 
 order by LOTRINH asc