<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.abc.phongtro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityKhachHang"
            android:label="@string/ActivityKhachHang_name" />
        <activity
            android:name=".ActivityPhong"
            android:label="@string/ActivityPhong_name" />
        <activity
            android:name=".ActivityGiaDien"
            android:label="@string/ActivityGiaDien_name" />
        <activity
            android:name=".ActivityGiaNuoc"
            android:label="@string/ActivityGiaNuoc_name" />
        <activity android:name=".ActivityHoaDon" android:label="@string/ActivityHoaDon_name">

        </activity>
    </application>

</manifest>