select * from ChungTu where mact='31230007385'
select * from CTChungTu where MaCT='31230007385'
select * from LichSuChungTu where MaCT='31230007385'
--delete LichSuChungTu where MaLSCT=366714
--delete ChungTu where MaCT='31100097512'


--Đổi Số Chứng Từ
--update CTChungTu set MaCT='31230045675' where DanhBo='13182520606' and MaCT='31230007385'
--update ChungTu set MaCT='31230045675' where MaCT='31230007385'
--update LichSuChungTu set MaCT='31230045675' where MaLSCT=366714
--insert into ChungTu(MaCT,SoNKTong,SoNKDaCap,SoNKCat,SoNKNhan,SoNKConLai,MaLCT,CreateDate,CreateBy)values('31230045675',2,2,0,0,0,1,'2014-06-11 16:57:21.267',8)