<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DocSo_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DocSo_PC.Properties.Settings.CAPNUOCTANHOAConnectionString"
      connectionString="Data Source=HP_G7\KD;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=db8@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="DocSo_PC.Properties.Settings.HOADON_TAConnectionString"
      connectionString="Data Source=server9;Initial Catalog=HOADON_TA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="DocSo_PC.Properties.Settings.DocSoTHConnectionString"
      connectionString="Data Source=hp_g7\kd;Initial Catalog=DocSoTH;Persist Security Info=True;User ID=sa;Password=db8@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="DocSo_PC.Properties.Settings.KTKS_DonKHConnectionString"
      connectionString="Data Source=server11;Initial Catalog=KTKS_DonKH;Persist Security Info=True;User ID=sa;Password=db11@tanhoa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <DocSo_PC.Properties.Settings>
      <setting name="DocSo_PC_wrThuTien_wsThuTien" serializeAs="String">
        <value>http://192.168.90.11:81/wsthutien.asmx</value>
      </setting>
      <setting name="DocSo_PC_wrDHN_wsDHN" serializeAs="String">
        <value>http://192.168.90.11:81/wsdhn.asmx</value>
      </setting>
      <setting name="DocSo_PC_wrThuongVu_wsThuongVu" serializeAs="String">
        <value>http://192.168.90.11:81/wsthuongvu.asmx</value>
      </setting>
    </DocSo_PC.Properties.Settings>
  </applicationSettings>
</configuration>
