<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DocSo_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>

</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <DocSo_PC.Properties.Settings>
            <setting name="DocSo_PC_wrThuTien_wsThuTien" serializeAs="String">
                <value>http://192.168.90.11:81/wsthutien.asmx</value>
            </setting>
            <setting name="DocSo_PC_wrDHN_wsDHN" serializeAs="String">
                <value>http://192.168.90.11:81/wsdhn.asmx</value>
            </setting>
            <setting name="DocSo_PC_wsThuongVu_wsThuongVu" serializeAs="String">
                <value>http://192.168.90.11:81/wsthuongvu.asmx</value>
            </setting>
        </DocSo_PC.Properties.Settings>
    </applicationSettings>
</configuration>
