<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="DocSo_PC.Properties.Settings.CAPNUOCTANHOAConnectionString"
        connectionString="Data Source=HP_G7\KD;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=db8@tanhoa"
        providerName="System.Data.SqlClient" />
    <add name="DocSo_PC.Properties.Settings.HOADON_TAConnectionString"
        connectionString="Data Source=server9;Initial Catalog=HOADON_TA;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
        providerName="System.Data.SqlClient" />
    <add name="DocSo_PC.Properties.Settings.DocSoTHTestConnectionString"
        connectionString="Data Source=HP_G7\KD;Initial Catalog=DocSoTHTest;Persist Security Info=True;User ID=sa;Password=db8@tanhoa"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
