--select * from LichSuChungTu where SoPhieu=6814
insert into LichSuChungTu(MaLSCT,DanhBo,MaCT,SoNKTong,SoNKDangKy,SoNKConLai,SoPhieu,NhanNK_DanhBo,NhanNK_HoTen,NhanNK_DiaChi,NhanDM,SoNKNhan,CatNK_MaCN,CatNK_DanhBo,CatNK_HoTen,CatNK_DiaChi,GhiChu,MaDon,NguoiKy,ChucVu,PhieuDuocKy,CreateDate,CreateBy)
values(27314,'13061450703','31070069783',4,4,0,6814,'13061450703','PHAN DINH CHIEU','8/32/7B DAT THANH, P.  6, Q.  TAN BINH',1,4,2,'','TRUONG ANH DUNG','166/22A/7 HO BA KIEN, P15, Q10','',43614,N'LÊ VĂN SƠN',N'KT.GIÁM ĐỐC PHÓ GIÁM ĐỐC',1,'2014-03-19 16:16:41.733',8)