<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVanThuDi.Properties.Settings.CAPNUOCTANHOAOFFICESE2009ConnectionString"
            connectionString="Data Source=server06;Initial Catalog=CAPNUOCTANHOAOFFICESE2009;Persist Security Info=True;User ID=sa;Password=db6@tanhoa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>