<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BauCu.Properties.Settings.DH_CODONGConnectionString"
            connectionString="Data Source=server9;Initial Catalog=DH_CODONG;Persist Security Info=True;User ID=sa;Password=db9@tanhoa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>